In [1]:
import pandas as pd
import numpy as np

In [2]:
Bee2015_Stressors_Jan_March_to_load = "Jan-Mar2015_Stressors.csv"

# Read data File and store into Pandas Data Frames
Jan_March2015_Stressors = pd.read_csv(Bee2015_Stressors_Jan_March_to_load)

Jan_March2015_Stressors.head()

,13,h,State,Varroa mites,Other pests and parasites,Diseases,Pesticides,Other,Unknown
0,2,d,Alabama,10.0,5.4,(Z),2.2,9.1,9.4
1,2,d,Arizona,26.9,20.5,0.1,(Z),1.8,3.1
2,2,d,Arkansas,17.6,11.4,1.5,3.4,1.0,1
3,2,d,California,24.7,7.2,3,7.5,6.5,2.8
4,2,d,Colorado,14.6,0.9,1.8,0.6,2.6,5.9

In [3]:
Jan_March2015_Stressors_df = Jan_March2015_Stressors.drop(Jan_March2015_Stressors.columns[[0, 1]], axis=1)

Jan_March2015_Stressors_df.head()

,State,Varroa mites,Other pests and parasites,Diseases,Pesticides,Other,Unknown
0,Alabama,10.0,5.4,(Z),2.2,9.1,9.4
1,Arizona,26.9,20.5,0.1,(Z),1.8,3.1
2,Arkansas,17.6,11.4,1.5,3.4,1.0,1
3,California,24.7,7.2,3,7.5,6.5,2.8
4,Colorado,14.6,0.9,1.8,0.6,2.6,5.9

In [4]:
list(Jan_March2015_Stressors_df)

['State',
 'Varroa mites',
 'Other pests and parasites ',
 'Diseases ',
 'Pesticides',
 'Other',
 'Unknown']

In [5]:
Jan_Mar2015_Stressors_Final= Jan_March2015_Stressors_df.rename(columns={'State':'State',
                                                                            'Varroa mites': 'Winter_2015\nMites', 
                                                                           'Other pests and parasites ': 'Winter_2015\nParasites',
                                                                             'Diseases ': 'Winter_2015\nDiseases', 
                                                                            'Pesticides': 'Winter_2015\nPesticides',
                                                                             'Other': 'Winter_2015\nOther', 
                                                                            'Unknown': 'Winter_2015\nUnknown'})

Jan_Mar2015_Stressors_Final.head(10)

,State,Winter_2015 Mites,Winter_2015 Parasites,Winter_2015 Diseases,Winter_2015 Pesticides,Winter_2015 Other,Winter_2015 Unknown
0,Alabama,10.0,5.4,(Z),2.2,9.1,9.4
1,Arizona,26.9,20.5,0.1,(Z),1.8,3.1
2,Arkansas,17.6,11.4,1.5,3.4,1.0,1
3,California,24.7,7.2,3,7.5,6.5,2.8
4,Colorado,14.6,0.9,1.8,0.6,2.6,5.9
5,Connecticut,2.5,1.4,(Z),(Z),21.2,2.4
6,Florida,22.3,13.5,0.8,8.9,5.1,4.4
7,Georgia,6.2,4.9,3.3,2.6,4.8,10.5
8,Hawaii,38.8,37.7,1.6,(Z),2.0,(Z)
9,Idaho,39.8,6.7,12.5,4.8,8.9,4.9

In [6]:
Jan_Mar2015_Stressors_Final.replace('-',np.NaN,inplace = True)
Jan_Mar2015_Stressors_Final.replace('(Z)',np.NaN,inplace = True)

Jan_Mar2015_Stressors_Final.fillna(0,inplace = True)

Jan_Mar2015_Stressors_Final.head()

,State,Winter_2015 Mites,Winter_2015 Parasites,Winter_2015 Diseases,Winter_2015 Pesticides,Winter_2015 Other,Winter_2015 Unknown
0,Alabama,10.0,5.4,0,2.2,9.1,9.4
1,Arizona,26.9,20.5,0.1,0,1.8,3.1
2,Arkansas,17.6,11.4,1.5,3.4,1.0,1
3,California,24.7,7.2,3,7.5,6.5,2.8
4,Colorado,14.6,0.9,1.8,0.6,2.6,5.9

In [7]:
Bee2015_Stressors_Apr_Jun_to_load = "Apr-Jun2015_Stressors.csv"

# Read data File and store into Pandas Data Frames
Apr_Jun2015_Stressors = pd.read_csv(Bee2015_Stressors_Apr_Jun_to_load)

Apr_Jun2015_Stressors.head()

,13,h,State,Varroa mites,Other pests and parasites,Diseases,Pesticides,Other,Unknown
0,13,d,Alabama,16.7,42.5,(Z),2.3,3.2,4.1
1,13,d,Arizona,8.4,32.1,0.5,20.1,28.2,0.3
2,13,d,Arkansas,65.9,63.4,7,22.6,27.4,9.3
3,13,d,California,50.9,21.5,7.8,23,14.2,3.1
4,13,d,Colorado,38.6,1.8,4.6,2.8,3.4,6.6

In [8]:
Apr_Jun2015_Stressors_df = Apr_Jun2015_Stressors.drop(Apr_Jun2015_Stressors.columns[[0, 1]], axis=1)

Apr_Jun2015_Stressors_df.head()

,State,Varroa mites,Other pests and parasites,Diseases,Pesticides,Other,Unknown
0,Alabama,16.7,42.5,(Z),2.3,3.2,4.1
1,Arizona,8.4,32.1,0.5,20.1,28.2,0.3
2,Arkansas,65.9,63.4,7,22.6,27.4,9.3
3,California,50.9,21.5,7.8,23,14.2,3.1
4,Colorado,38.6,1.8,4.6,2.8,3.4,6.6

In [9]:
list(Apr_Jun2015_Stressors_df)

['State',
 'Varroa mites',
 'Other pests and parasites ',
 'Diseases ',
 'Pesticides',
 'Other',
 'Unknown']

In [10]:
Apr_Jun2015_Stressors_Final= Apr_Jun2015_Stressors_df.rename(columns={'State':'State',
                                                                            'Varroa mites': 'Spring_2015\nMites', 
                                                                           'Other pests and parasites ': 'Spring_2015\nParasites',
                                                                             'Diseases ': 'Spring_2015\nDiseases', 
                                                                            'Pesticides': 'Spring_2015\nPesticides',
                                                                             'Other': 'Spring_2015\nOther', 
                                                                            'Unknown': 'Spring_2015\nUnknown'})

Apr_Jun2015_Stressors_Final.head(10)

,State,Spring_2015 Mites,Spring_2015 Parasites,Spring_2015 Diseases,Spring_2015 Pesticides,Spring_2015 Other,Spring_2015 Unknown
0,Alabama,16.7,42.5,(Z),2.3,3.2,4.1
1,Arizona,8.4,32.1,0.5,20.1,28.2,0.3
2,Arkansas,65.9,63.4,7,22.6,27.4,9.3
3,California,50.9,21.5,7.8,23,14.2,3.1
4,Colorado,38.6,1.8,4.6,2.8,3.4,6.6
5,Connecticut,10.2,0.4,1.9,0.8,1.0,0.7
6,Florida,44.2,26.4,2.7,17.7,13.6,5.4
7,Georgia,52.8,17.5,2.9,28.7,11.5,4.1
8,Hawaii,60.1,61,0.3,0.1,3.2,0.1
9,Idaho,25.5,6.7,6.5,6,13.7,0.3

In [11]:
Apr_Jun2015_Stressors_Final.replace('-',np.NaN,inplace = True)
Apr_Jun2015_Stressors_Final.replace('(Z)',np.NaN,inplace = True)

Apr_Jun2015_Stressors_Final.fillna(0,inplace = True)

Apr_Jun2015_Stressors_Final.head()

,State,Spring_2015 Mites,Spring_2015 Parasites,Spring_2015 Diseases,Spring_2015 Pesticides,Spring_2015 Other,Spring_2015 Unknown
0,Alabama,16.7,42.5,0,2.3,3.2,4.1
1,Arizona,8.4,32.1,0.5,20.1,28.2,0.3
2,Arkansas,65.9,63.4,7,22.6,27.4,9.3
3,California,50.9,21.5,7.8,23,14.2,3.1
4,Colorado,38.6,1.8,4.6,2.8,3.4,6.6

In [12]:
Bee2015_Stressors_Jul_Sep_to_load = "Jul-Sep2015_Stressors.csv"

# Read data File and store into Pandas Data Frames
Jul_Sep2015_Stressors = pd.read_csv(Bee2015_Stressors_Jul_Sep_to_load)

Jul_Sep2015_Stressors.head()

,13,h,State,Varroa mites,Other pests and parasites,Diseases,Pesticides,Other,Unknown
0,9,d,Alabama,63.1,70.6,(Z),2.6,2.2,17.7
1,9,d,Arizona,53.5,24.8,5.4,17.3,7.6,5.1
2,9,d,Arkansas,69.2,32.4,0.9,5,1.8,1.4
3,9,d,California,39.9,20.4,12.5,19.6,15.0,4.7
4,9,d,Colorado,50.5,1.5,2.7,16.5,3.7,2.7

In [13]:
Jul_Sep2015_Stressors_df = Jul_Sep2015_Stressors.drop(Jul_Sep2015_Stressors.columns[[0, 1]], axis=1)

Jul_Sep2015_Stressors_df.head()

,State,Varroa mites,Other pests and parasites,Diseases,Pesticides,Other,Unknown
0,Alabama,63.1,70.6,(Z),2.6,2.2,17.7
1,Arizona,53.5,24.8,5.4,17.3,7.6,5.1
2,Arkansas,69.2,32.4,0.9,5,1.8,1.4
3,California,39.9,20.4,12.5,19.6,15.0,4.7
4,Colorado,50.5,1.5,2.7,16.5,3.7,2.7

In [14]:
list(Jul_Sep2015_Stressors_df)

['State',
 'Varroa mites',
 'Other pests and parasites ',
 'Diseases ',
 'Pesticides',
 'Other',
 'Unknown']

In [15]:
Jul_Sep2015_Stressors_Final= Jul_Sep2015_Stressors_df.rename(columns={'State':'State',
                                                                            'Varroa mites': 'Summer_2015\nMites', 
                                                                           'Other pests and parasites ': 'Summer_2015\nParasites',
                                                                             'Diseases ': 'Summer_2015\nDiseases', 
                                                                            'Pesticides': 'Summer_2015\nPesticides',
                                                                             'Other': 'Summer_2015\nOther', 
                                                                            'Unknown': 'Summer_2015\nUnknown'})

Jul_Sep2015_Stressors_Final.head(10)

,State,Summer_2015 Mites,Summer_2015 Parasites,Summer_2015 Diseases,Summer_2015 Pesticides,Summer_2015 Other,Summer_2015 Unknown
0,Alabama,63.1,70.6,(Z),2.6,2.2,17.7
1,Arizona,53.5,24.8,5.4,17.3,7.6,5.1
2,Arkansas,69.2,32.4,0.9,5,1.8,1.4
3,California,39.9,20.4,12.5,19.6,15.0,4.7
4,Colorado,50.5,1.5,2.7,16.5,3.7,2.7
5,Connecticut,39.3,1.2,0.4,1.5,7.8,(Z)
6,Florida,39.5,21.7,6.7,22.9,21.9,3.4
7,Georgia,47.6,16.2,3.6,21.2,8.9,3.6
8,Hawaii,78.1,80.5,0.1,0.1,2.5,(Z)
9,Idaho,46.8,5.2,1.7,10,2.2,6.4

In [16]:
Jul_Sep2015_Stressors_Final.replace('-',np.NaN,inplace = True)
Jul_Sep2015_Stressors_Final.replace('(Z)',np.NaN,inplace = True)

Jul_Sep2015_Stressors_Final.fillna(0,inplace = True)

Jul_Sep2015_Stressors_Final.head()

,State,Summer_2015 Mites,Summer_2015 Parasites,Summer_2015 Diseases,Summer_2015 Pesticides,Summer_2015 Other,Summer_2015 Unknown
0,Alabama,63.1,70.6,0,2.6,2.2,17.7
1,Arizona,53.5,24.8,5.4,17.3,7.6,5.1
2,Arkansas,69.2,32.4,0.9,5,1.8,1.4
3,California,39.9,20.4,12.5,19.6,15.0,4.7
4,Colorado,50.5,1.5,2.7,16.5,3.7,2.7

In [17]:
Bee2015_Stressors_Oct_Dec_to_load = "Oct-Dec2015_Stressors.csv"

# Read data File and store into Pandas Data Frames
Oct_Dec2015_Stressors = pd.read_csv(Bee2015_Stressors_Oct_Dec_to_load)

Oct_Dec2015_Stressors.head()

,13,h,State,Varroa mites,Other pests and parasites,Diseases,Pesticides,Other,Unknown
0,10,d,Alabama,3.1,6.4,0.2,0.2,2.8,1.9
1,10,d,Arizona,50.1,1.7,1.1,3.5,0.5,15.5
2,10,d,Arkansas,38.1,9.7,0.1,8.2,8.5,0.6
3,10,d,California,37.3,12.7,6.2,11.7,10.5,7.3
4,10,d,Colorado,47.6,24.4,21.2,19.7,8.4,1.8

In [18]:
Oct_Dec2015_Stressors_df = Oct_Dec2015_Stressors.drop(Oct_Dec2015_Stressors.columns[[0, 1]], axis=1)

Oct_Dec2015_Stressors_df.head()

,State,Varroa mites,Other pests and parasites,Diseases,Pesticides,Other,Unknown
0,Alabama,3.1,6.4,0.2,0.2,2.8,1.9
1,Arizona,50.1,1.7,1.1,3.5,0.5,15.5
2,Arkansas,38.1,9.7,0.1,8.2,8.5,0.6
3,California,37.3,12.7,6.2,11.7,10.5,7.3
4,Colorado,47.6,24.4,21.2,19.7,8.4,1.8

In [19]:
list(Oct_Dec2015_Stressors_df)

['State',
 'Varroa mites',
 'Other pests and parasites ',
 'Diseases ',
 'Pesticides',
 'Other',
 'Unknown']

In [20]:
Oct_Dec2015_Stressors_Final= Oct_Dec2015_Stressors_df.rename(columns={'State':'State',
                                                                            'Varroa mites': 'Fall_2015\nMites', 
                                                                           'Other pests and parasites ': 'Fall_2015\nParasites',
                                                                             'Diseases ': 'Fall_2015\nDiseases', 
                                                                            'Pesticides': 'Fall_2015\nPesticides',
                                                                             'Other': 'Fall_2015\nOther', 
                                                                            'Unknown': 'Fall_2015\nUnknown'})

Oct_Dec2015_Stressors_Final.head(10)

,State,Fall_2015 Mites,Fall_2015 Parasites,Fall_2015 Diseases,Fall_2015 Pesticides,Fall_2015 Other,Fall_2015 Unknown
0,Alabama,3.1,6.4,0.2,0.2,2.8,1.9
1,Arizona,50.1,1.7,1.1,3.5,0.5,15.5
2,Arkansas,38.1,9.7,0.1,8.2,8.5,0.6
3,California,37.3,12.7,6.2,11.7,10.5,7.3
4,Colorado,47.6,24.4,21.2,19.7,8.4,1.8
5,Connecticut,10.5,1.7,0.5,1.1,3.4,2
6,Florida,27.3,18.4,2.5,6.8,3,4.2
7,Georgia,43.5,13.9,5.3,4.5,3.7,1.3
8,Hawaii,31.0,33.9,0.2,(Z),(Z),(Z)
9,Idaho,38.9,0.6,4.3,4,2.8,4.5

In [21]:
Oct_Dec2015_Stressors_Final.replace('-',np.NaN,inplace = True)
Oct_Dec2015_Stressors_Final.replace('(Z)',np.NaN,inplace = True)

Oct_Dec2015_Stressors_Final.fillna(0,inplace = True)

Oct_Dec2015_Stressors_Final.head()

,State,Fall_2015 Mites,Fall_2015 Parasites,Fall_2015 Diseases,Fall_2015 Pesticides,Fall_2015 Other,Fall_2015 Unknown
0,Alabama,3.1,6.4,0.2,0.2,2.8,1.9
1,Arizona,50.1,1.7,1.1,3.5,0.5,15.5
2,Arkansas,38.1,9.7,0.1,8.2,8.5,0.6
3,California,37.3,12.7,6.2,11.7,10.5,7.3
4,Colorado,47.6,24.4,21.2,19.7,8.4,1.8

In [22]:
#Fix messy columns using .str 
#Oct_Dec2015_Stressors_Final.columns = Oct_Dec2015_Stressors_Final.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [23]:
# Select the columns you want
#df1 = df[['a','d']]

In [24]:
Final_Stressors_2015 = Jan_Mar2015_Stressors_Final.merge(Apr_Jun2015_Stressors_Final, on="State").merge(Jul_Sep2015_Stressors_Final, on="State").merge(Oct_Dec2015_Stressors_Final, on="State")
Final_Stressors_2015.head()

,State,Winter_2015 Mites,Winter_2015 Parasites,Winter_2015 Diseases,Winter_2015 Pesticides,Winter_2015 Other,Winter_2015 Unknown,Spring_2015 Mites,Spring_2015 Parasites,Spring_2015 Diseases,...,Summer_2015 Diseases,Summer_2015 Pesticides,Summer_2015 Other,Summer_2015 Unknown,Fall_2015 Mites,Fall_2015 Parasites,Fall_2015 Diseases,Fall_2015 Pesticides,Fall_2015 Other,Fall_2015 Unknown
0,Alabama,10.0,5.4,0,2.2,9.1,9.4,16.7,42.5,0,...,0,2.6,2.2,17.7,3.1,6.4,0.2,0.2,2.8,1.9
1,Arizona,26.9,20.5,0.1,0,1.8,3.1,8.4,32.1,0.5,...,5.4,17.3,7.6,5.1,50.1,1.7,1.1,3.5,0.5,15.5
2,Arkansas,17.6,11.4,1.5,3.4,1.0,1,65.9,63.4,7,...,0.9,5,1.8,1.4,38.1,9.7,0.1,8.2,8.5,0.6
3,California,24.7,7.2,3,7.5,6.5,2.8,50.9,21.5,7.8,...,12.5,19.6,15.0,4.7,37.3,12.7,6.2,11.7,10.5,7.3
4,Colorado,14.6,0.9,1.8,0.6,2.6,5.9,38.6,1.8,4.6,...,2.7,16.5,3.7,2.7,47.6,24.4,21.2,19.7,8.4,1.8

In [25]:
Final_Stressors_2015.to_csv("Final_Stressors_2015.csv")